# Pandas convert JSON into a DataFrame

This is a notebook for the medium article [How to convert JSON into a Pandas DataFrame?](https://bindichen.medium.com/how-to-convert-json-into-a-pandas-dataframe-100b2ae1e0d8)

Please check out article for instructions

**License**: [BSD 2-Clause](https://opensource.org/licenses/BSD-2-Clause)

In [1]:
import pandas as pd

In [8]:
%pwd

'/content'

In [9]:
%ls

sample_data/

In [10]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [15]:
%cd /content/drive/MyDrive/machine-learning/data-analysis/027-pandas-convert-json/

/content/drive/MyDrive/machine-learning/data-analysis/027-pandas-convert-json

In [16]:
%pwd
%ls

data/  pandas-convert-json.ipynb

## 1. Reading simple JSON from a local file

In [17]:
df = pd.read_json('data/simple.json')
df

     id   name  math  physics  chemistry
0  A001    Tom    60       66         61
1  A002  James    89       76         51
2  A003  Jenny    79       90         78

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         3 non-null      object
 1   name       3 non-null      object
 2   math       3 non-null      int64
 3   physics    3 non-null      int64
 4   chemistry  3 non-null      int64
dtypes: int64(3), object(2)
memory usage: 248.0+ bytes

## 2. Reading simple JSON from a URL

In [19]:
URL = 'http://raw.githubusercontent.com/BindiChen/machine-learning/master/data-analysis/027-pandas-convert-json/data/simple.json'
df = pd.read_json(URL)
df

     id   name  math  physics  chemistry
0  A001    Tom    60       66         61
1  A002  James    89       76         51
2  A003  Jenny    79       90         78

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         3 non-null      object
 1   name       3 non-null      object
 2   math       3 non-null      int64
 3   physics    3 non-null      int64
 4   chemistry  3 non-null      int64
dtypes: int64(3), object(2)
memory usage: 248.0+ bytes

## 3. Flattening nested list from JSON object

In [21]:
df = pd.read_json('data/nested_list.json')
df

          school_name  ...                                           students
0  ABC primary school  ...  {'id': 'A001', 'name': 'Tom', 'math': 60, 'phy...
1  ABC primary school  ...  {'id': 'A002', 'name': 'James', 'math': 89, 'p...
2  ABC primary school  ...  {'id': 'A003', 'name': 'Jenny', 'math': 79, 'p...

[3 rows x 3 columns]

In [22]:
import json
# load data using Python JSON module
with open('data/nested_list.json','r') as f:
    data = json.loads(f.read())
    
# Flatten data
df_nested_list = pd.json_normalize(data, record_path =['students'])
df_nested_list

     id   name  math  physics  chemistry
0  A001    Tom    60       66         61
1  A002  James    89       76         51
2  A003  Jenny    79       90         78

In [23]:
# To include school_name and class
df_nested_list = pd.json_normalize(
    data, 
    record_path =['students'], 
    meta=['school_name', 'class']
)
df_nested_list

     id   name  math  physics  chemistry         school_name   class
0  A001    Tom    60       66         61  ABC primary school  Year 1
1  A002  James    89       76         51  ABC primary school  Year 1
2  A003  Jenny    79       90         78  ABC primary school  Year 1

## 4. Flattening nested list and dict from JSON object

In [ ]:
# Getting ValueError when using read_json()
df = pd.read_json('data/nested_mix.json')
df

In [25]:
import json
# load data using Python JSON module
with open('data/nested_mix.json','r') as f:
    data = json.loads(f.read())
    
# Normalizing data
df = pd.json_normalize(data, record_path =['students'])
df

     id   name  math  physics  chemistry
0  A001    Tom    60       66         61
1  A002  James    89       76         51
2  A003  Jenny    79       90         78

In [26]:
# Normalizing data
df = pd.json_normalize(
    data, 
    record_path =['students'], 
    meta=[
        'class',
        ['info', 'president'], 
        ['info', 'contacts', 'tel']
    ]
)
df

     id   name  math  ...   class  info.president info.contacts.tel
0  A001    Tom    60  ...  Year 1     John Kasich         123456789
1  A002  James    89  ...  Year 1     John Kasich         123456789
2  A003  Jenny    79  ...  Year 1     John Kasich         123456789

[3 rows x 8 columns]

## 5. Extracting a value from deeply nested JSON

In [27]:
df = pd.read_json('data/nested_deep.json')
df

            school_name  ...                                           students
0  local primary school  ...  {'id': 'A001', 'name': 'Tom', 'grade': {'math'...
1  local primary school  ...  {'id': 'A002', 'name': 'James', 'grade': {'mat...
2  local primary school  ...  {'id': 'A003', 'name': 'Jenny', 'grade': {'phy...

[3 rows x 3 columns]

In [28]:
type(df['students'][0])

dict

In [ ]:
# !pip install glom

In [31]:
from glom import glom
df['students'].apply(lambda row: glom(row, 'grade.math'))

0    60
1    89
2    79
Name: students, dtype: int64

In [32]:
!git status

On branch master
Your branch is up to date with 'origin/master'.

Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git checkout -- <file>..." to discard changes in working directory)

	modified:   pandas-convert-json.ipynb
	modified:   ../../tensorflow2/001-googles-7-steps-of-machine-learning-in-practice/data/titanic/titanic_test.csv
	modified:   ../../tensorflow2/001-googles-7-steps-of-machine-learning-in-practice/data/titanic/titanic_train.csv

no changes added to commit (use "git add" and/or "git commit -a")